@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'header';
@import 'nav';
@import 'footer';
@import 'mobile-menu';
@import 'placement';
@import 'typography';
@import 'blockquotes';
@import 'code';
@import 'testfile';
@import 'css-grid';
@import 'technology';
@import 'techno-content';

body {
  background-color: $background-color;
}

.main {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .title,
  .logo {
    padding: 1em 1em 1em 0;
  }

  .title {
    min-width: 50%;
  }

  .logo {
    max-width: 30%;
  }

  .main {
    padding: 0 20px;
  }


}

.logo img {
  border-radius: 50%;
}

img {
  max-width: 100%;
}

.me {
  width: 200px;
}
