.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2rem;
  margin: 1rem auto;
  grid-template-areas: 
    'header header'
    'aside content';
  grid-template-rows: auto 1fr;
  max-width: 1200px;
  width: 100%;
}

.side-menu {
  background-color: #403e3c;
  grid-area: aside;
  border: 2px solid #4a4745;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.9) 5px 5px, rgba(0, 0, 0, 0.75) 10px 10px, rgba(0, 0, 0, 0.5) 15px 15px, rgba(0, 0, 0, 0.25) 20px 20px, rgba(0, 0, 0, 0.1) 25px 25px;

  h1 {
    color: #fff;
    margin-top: 0;
    text-align: center;
  }

  p {
    a {
      color: #fff;
    }
  }

}

.article {
  grid-area: content;
  padding: 2rem;

  h1 {
    margin-top: 0;
  }
}

.techno-head {
  grid-area: header;
  background: #f0f0f0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.9) 5px 5px, rgba(0, 0, 0, 0.75) 10px 10px, rgba(0, 0, 0, 0.5) 15px 15px, rgba(0, 0, 0, 0.25) 20px 20px, rgba(0, 0, 0, 0.1) 25px 25px;
}

.item-menu {
  text-align: center;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.item-menu.active a {
  color: $active-color;
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto;
    gap: 1rem;
  }

  .techno-head {
    margin-top: -1rem;
  }

  .side-menu {
    order: 3;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: -1rem;

    h1 {
      width: 100%;
    }
  }

  .item-menu {
    flex: 0 1 calc(25% - 1rem);
    text-align: center;
        
  }

  .article {
    padding: 1rem;
  }
}
