.new-main {
  margin: 1rem auto;
}

.landingpage {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
}

.landingpage h1 {
  grid-column: span 3;
  justify-self: center;
}

.box {
  border: 2px solid #4a4745;
  padding: 2rem;
  box-shadow: 12px 12px 2px 1px #4a4745;
  margin-bottom: 2rem;
}

.box:hover {
  box-shadow: 12px 12px 2px 1px #ff8b6b;

}

.landingpage {
  a {
    color: #000;
  }
}

@media (max-width: 768px) {
  .new-main {
    margin: 0.5rem;
  }
    
  .landingpage {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
  }
    
  .landingpage h1 {
    grid-column: span 1;
  }
}
